.root {
  padding: 20px;

  .item {
    margin: 30px 0;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 5px;

    .header {
      border-bottom: 1px solid lightgray;
      padding-bottom: 10px;
      font-size: 15px;
    }

    .variant {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 5px 0;

      div:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        margin-left: 15px;
        code {
          height: 100%;
          background-color: lightgray;
          padding: 0 10px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      button {
        margin-left: 10px;
        background-color: blue;
        color: white;
        padding: 4px 5px;
        border-radius: 5px;
      }
    }
  }
}
