@import 'src/styles/colors.scss';
@import 'src/config/theme/fonts';
@import 'src/styles/common';

.root {
  width: fit-content;
  padding: 8px;
  background: $grey-white;
  border: 1px solid $grey-stroke-divider;
  border-radius: 8px;
  display: flex;
  align-items: center;

  .text {
    font-family: $gilroy-bold-font;
    font-size: 14px;
    line-height: 18px;
    color: #00163e;
    margin: 0 12px;
  }

  .btn {
    width: 16px;
    height: 16px;
    font-family: $gilroy-semi-bold-font;
    font-size: 18px;
    color: $interaction-buttons;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .disabled {
    background: transparent;
    box-shadow: none;
    cursor: not-allowed;
    color: $grey-40;
  }
}
