@import 'src/styles/colors';
@import 'src/config/theme/fonts.scss';
@import 'src/styles/common';

.root {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    h3 {
      max-width: 85%;
    }
  }
  .bottom {
    .item {
      margin: 16px 0;
      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          max-width: 85%;
        }
      }
      .answer {
        overflow: hidden;
        margin: 8px 0 16px;
        .answerText {
          text-align: left;
          font-family: $gilroy-medium-font;
          font-size: 14px;
          line-height: 18px;
          color: $text-label;
        }
      }
    }
    .hidden {
      margin-bottom: 16px;
    }
  }
  .active {
    transform: rotate(180deg);
    transition: all 0.3s ease;
  }
  .icon {
    transition: all 0.3s ease;
  }
}

@keyframes expand {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
