@font-face {
  font-family: 'GilroyBold';
  src: url('../../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../../fonts/Gilroy-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'GilroySemiBold';
  src: url('../../fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../../fonts/Gilroy-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('../../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../../fonts/Gilroy-Medium.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  unicode-range: U+000-5FF;
}

$gilroy-regular-font: GilroyMedium, sans-serif;
$gilroy-medium-font: GilroyMedium, sans-serif;
$gilroy-bold-font: GilroyBold, sans-serif;
$gilroy-semi-bold-font: GilroySemiBold, sans-serif;
