@font-face {
  font-family: 'GillSansBold';
  src: url('/fonts/GillSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GillSansSemiBold';
  src: url('/fonts/GillSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GillSansRegular';
  src: url('/fonts/GillSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
