$gilroy-regular-font: GilroyMedium, sans-serif;
$gilroy-medium-font: GilroyMedium, sans-serif;
$gilroy-semi-bold-font: GilroySemiBold, sans-serif;
$gilroy-bold-font: GilroyBold, sans-serif;

$manrope-light-font: GilroyMedium, sans-serif;
$manrope-regular-font: GilroyMedium, sans-serif;
$manrope-medium-font: GilroyMedium, sans-serif;
$manrope-semi-bold-font: GilroySemiBold, sans-serif;
$manrope-bold-font: GilroyBold, sans-serif;

$gillsans-regular-font: GillSansRegular, sans-serif;
$gillsans-semibold-font: GillSansSemiBold, sans-serif;
$gillsans-bold-font: GillSansBold, sans-serif;

$circular-book-font: GilroyMedium, sans-serif;
$circular-medium-font: GilroySemiBold, sans-serif;
$circular-bold-font: GilroyBold, sans-serif;
