@import 'src/styles/colors';
@import 'src/styles/shadows';
@import 'src/styles/common';

.root {
  display: grid;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-gap: 20px 20px;

  div {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .low {
    @include shadowLow;
  }

  .medium {
    @include shadowMedium;
  }

  .high {
    @include shadowHigh;
  }

  .highUp {
    @include shadowHighUp;
  }
}
